<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "music">

	<!-- 전체 조회 -->
	<select id = "list" resultType = "MusicDto">
		select * from music
	</select>
	
	<!-- 단일 조회 -->
	<select id = "get" parameterType = "int" resultType = "MusicDto">
		select * from music where music_no = #{musicNo}
	</select>

	<!-- 등록 -->
	<insert id = "insert" parameterType = "MusicDto">
		insert into music(music_no, music_title, music_artist, music_album, release_title) values(music_seq.nextval, #{musicTitle}, #{musicArtist}, #{musicAlbum}, sysdate)
	</insert>
	
	<!-- 수정 -->
	<update id = "edit" parameterType = "MusicDto">
		update music set music_title = #{musicTitle}, music_artist = #{musicArtist}, music_album = #{musicAlbum}, release_title = sysdate where music_no = #{musicNo}
	</update>

	<!-- 삭제 -->
	<delete id = "delete" parameterType = "int">
		delete music where music_no = #{musicNo}
	</delete>

</mapper>